.cookie-consent {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #000;
    color: #fff;
    padding: 10px;
    text-align: center;
    display: none;
}

.cookie-consent-btn {
    background-color: #009688;
    border: none;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
}
